

.page-container {

    margin-top: 80px;

    margin-left: 20px;

    margin-right: 20px;

    font-family: manrope;

}




.custom-btn-width {

width: 200px;

}



.text-right-margin {

    margin-right: 10px;

} 

