

/* body {
    margin: 0;
    align-items: center; 
    justify-content: center;

} */

.bg-inicio {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    height: 1000px;
}

.btn.inicio { 
    background-color: #04fbff;
    color: rgb(0, 0, 0);
    width: 150px;
    border-radius: 15px;
    font-weight: bold;
    margin: 50px 20px;
    padding: 5px 20px;
}

.btn.inicio:hover,
.btn.inicio:active {
    background-color: #3dffbe !important;
    color: black !important;
    font-weight: bold !important;
    border-radius: 15px !important;
}

.gradient-text-container {
    position: relative;
}

.gradient-text-container::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    font-weight: bold;
    color: transparent;
    text-shadow: 2px 4px 3px rgba(1, 62, 33, 0.349);
    z-index: -1;
    letter-spacing: 4px
}

.titulo-gradiente {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8rem; /* Ajusta el tamaño del texto aquí */
    font-weight: bold; /* Asegura que el texto esté en negrita */
    background: linear-gradient( #73178a, #f0d2e6,  #de609d 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    background-size: 100%; /* Ajusta el tamaño del fondo al tamaño del texto */
    -webkit-text-stroke: 1.5px #862a87;
    letter-spacing: 4px;
    
}


.zoom {
    transition: transform 0.3s ease; /* Suaviza la transición */
}

.zoom:hover {
    transform: scale(1.2); /* Escala la imagen a 1.2 veces su tamaño */
}

.custom-size {
    width: 431px;
    height: 365px;
  }
  
.spacer {
    height: 120px
}