

.container-fluid {
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
    font-family: manrope;
   
}

/* si se quiere cambiar el color del footer es aqui, abajo hay un efecto vidrio que se veria bonito 
encima de los fondos de pantalla de las paginas, pero habria que cambiar el color de la letra */
/* .bg-secondary {
  
  background: rgba(255, 255, 255, 0.3) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
} */




/* Estilo para los íconos de las redes sociales */
.social-icons a {
    margin-right: 10px;
    /* Espacio entre los íconos */
}

/* Estilo para el texto de las redes sociales */
.mini-paragraph {
    font-size: 14px;
    /* Tamaño del texto */
    margin-bottom: 15px;
    /* Espacio inferior */
}

.hover-underline:hover {
  color: rgb(188, 143, 255) !important;
  text-decoration: underline !important;
}

.hover-sin-underline:hover {
  color: rgb(188, 143, 255) !important;
  
}