
.container-fluid {
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
    font-family: manrope;
}



 /* Estilo para el botón de Invitado */
 .btn-invitado {
    background-color: #E6D4CF;
    /* Color de fondo */
    border-color: #E6D4CF;
    /* Color del borde */
    color: #000000;
    /* Color del texto */
}

.btn-invitado:hover,
.btn-invitado:active{
  background-color: #fca0dc!important;
    /* Color de fondo, necesita important por el active*/
    border-color: #E6D4CF;
    /* Color del borde */
    color: #000000;
    /* Color del texto */
}

.btn-registrarse:hover,
.btn-registrarse:active{
  background-color: #d09def!important;
    /* Color de fondo */
    border-color: #DDCFE6;
    /* Color del borde */
    color: #000000;
    /* Color del texto */
}



/* Estilo para el botón de Registrarse */
.btn-registrarse {
    background-color: #DDCFE6;
    /* Color de fondo */
    border-color: #DDCFE6;
    /* Color del borde */
    color: #000000;
    /* Color del texto */
}

/* Estilos de hover para ambos botones */
.btn-invitado:hover,
.btn-registrarse:hover {
    opacity: 0.8;
    /* Reducción de la opacidad al pasar el mouse */
}

/* Estilos de sombreado para el texto centrado al hacer hover */
.centered-text:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* Sombreado del texto */
}

/* Estilo de degradado para el navbar */
.navbar-color {
    background-image: linear-gradient(to right, #E4A9BF, #fce6fc, #A3C9CA);
    /* Degradado de tres colores pasteles */
}

.dropdown-item:focus {
    background-color: #fce6fc; /* Cambia 'your-desired-color' por el color que prefieras */
    color: black
}



